@keyframes scrollBackAndForthLeft {
    0%   { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--moveX))); }
}

@keyframes scrollBackAndForthRight {
    0%   { transform: translateX(calc(-1 * var(--moveX))); }
    100% { transform: translateX(0); }
}

.product-review-slider .swiper .swiper-slide {
    max-width: 392px !important;
    max-height: 331px !important;
}

.product-review-slider .swiper {
    overflow: inherit !important;
}


